.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dadee6;
}
.main-heading {
  color: #021740;
  font-family: 'Roboto';
  font-size: 30px;
  margin-bottom: 50px;
}
.input-el {
  outline: none;
  height: 50px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #7a7c80;
  background-color: #dadde3;
  color: #5b5c5e;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.select-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 30px;
  flex-wrap: wrap;
}
.button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;
}
.select-button {
  color: #1da6f0;
  background-color: transparent;
  border: 2px solid #1da6f0;
  border-radius: 10px;
  height: 35px;
  width: 90px;
}
.delete-button {
  color: #f0351d;
  background-color: transparent;
  border: 2px solid #f0351d;
  border-radius: 8px;
  height: 35px;
  width: 120px;
}
.users-list {
  list-style-type: none;
  padding-left: 0px;
  width: 83%;
  display: flex;
  align-items: center;
  flex-direction: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 50px;
  }
  .button {
    font-size: 18px;
  }
  .select-button {
    width: 120px;
  }
  .delete-button {
    width: 150px;
  }
}
