.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dadee6;
}
.main-heading {
  color: #021740;
  font-family: 'Roboto';
  font-size: 30px;
  margin-bottom: 50px;
}
.input-el {
  outline: none;
  height: 50px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #7a7c80;
  background-color: #dadde3;
  color: #5b5c5e;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.select-delete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 30px;
}
.button {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.select-button {
  color: #1da6f0;
  background-color: transparent;
  border: 2px solid #1da6f0;
  border-radius: 10px;
  height: 35px;
  width: 120px;
}
.delete-button {
  color: #f0351d;
  background-color: transparent;
  border: 2px solid #f0351d;
  border-radius: 8px;
  height: 35px;
  width: 150px;
}
.users-list {
  list-style-type: none;
  padding-left: 0px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: center;
  flex-wrap: wrap;
}
.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #807f7d;
}
.edit-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
}
.edit-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.edit-label {
  color: #46464f;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}
.edit-input {
  height: 30px;
  width: 300px;
  border: 1px solid #706c60;
  border-radius: 5px;
  color: #898996;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  padding-left: 20px;
  outline: none;
}
.edit-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.edit-button {
  color: #ffffff;
  background-color: #3c3cf0;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  height: 35px;
  width: 90px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 50px;
  }
}
